.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100%;
  text-align: center;

  &_background-common {
    background-color: rgba($color: #616161, $alpha: 0.9);
  }
  &_background-error {
    background-color: rgba($color: #ee9a9a, $alpha: 0.9);
  }
  &_background-message {
    background-color: rgba($color: #40b0fa, $alpha: 0.9);
  }
}
